/* Global */
:root {
  /* Colour */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
}

.navbar__logo i {
  padding: 0.4em;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item.active {
  padding: 6px 4px 0px 4px;
  font-weight: var(--weight-bold);
  font-size: 18px;
  border-bottom: 3px solid var(--color-white);
}

.navbar__menu__item:hover {
  border-bottom: 2px solid var(--color-white);
  padding-bottom: 0;
}

/* Home */
#home {
  background: url("imgs/home-background2.png") center no-repeat;
  padding: 40px;
  text-align: center;
  height: 730px;
}

/* Button Design>: https://codepen.io/Anon_satyam/pen/JjXLoNJ */
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
  object-fit: cover;
  margin-top: 2.3em;
  margin-bottom: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.home__title,
.home__description {
  color: var(--color-white);
  margin-bottom: 1em;
}

.home__contact-btn {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  margin-top: 1.3em;
}
.home__contact-btn a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}
.home__contact-btn a:before,
.home__contact-btn a:after {
  position: absolute;
  content: "Contact Me!";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.home__contact-btn a:before {
  color: var(--color-white);
  background: var(--color-black);
  transform: rotateY(0deg) translateZ(25px);
}
.home__contact-btn a:after {
  color: var(--color-black);
  transform: rotateX(90deg) translateZ(25px);
}
.home__contact-btn a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* Section Common */
.section {
  padding: 50px;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin: 16px auto;
}

.major__icon i:hover {
  color: var(--color-orange);
  transform: rotate(-30deg) scale(1.1);
}

.major__icon i {
  transition: all 300ms ease;
}

.major__title,
.major__decription {
  color: var(--color-dark-grey);
}

.about__jobs {
  margin-top: 5em;
}

.job {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.job__logo {
  height: 80px;
  width: 120px;
  object-fit: scale-down;
  margin-right: 2em;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-dark-grey);
}

.job__name {
  size: var(--font-small);
}

.job__period {
  size: var(--font-micro);
}

/* Skills */

#skills {
  background-color: var(--color-blue);
}

.section__container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.skillset {
  display: flex;
  justify-content: center;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
  margin-top: 2em;
}

.skillset__title {
  color: var(--color-white);
  font-weight: var(--weight-bold);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 0.8em 2em;
}

.skillset__right {
  flex-basis: 40%;
}

.QA {
  background-color: var(--color-grey);
}

.skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.skill {
  padding: 0.6em;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.QA,
.etc {
  padding: 20px;
}

.QA li,
.etc__list li {
  padding: 5px;
  display: flex;
  justify-content: center;
}

/* Contact */
#contact {
  background-color: var(--color-blue);
  text-align: center;
  padding: 50px 50px 20px 50px;
}

.contact__email {
  margin-bottom: 1.5em;
}

.contact__title,
.contact__email,
.contact__links,
.contact__right {
  color: var(--color-white);
}

.contact__links {
  width: 110px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.contact__links i {
  font-size: var(--font-large);
}

.contact__right {
  margin-top: 1.5em;
}

.contact__links i:hover {
  transform: scale(1.4);
  color: var(--color-black);
}
