

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }
}
:root {
  font-family: 'Quicksand', sans-serif;  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}




@keyframes underline {
  0% {
    text-decoration: underline;
  }
  100% {
    text-decoration: none;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0))
}
.link-underline-grey {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(50, 50, 50), rgb(77, 77, 77))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

/* Apply styles to the entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #272727; /* Color of the handle */
  border-radius: 5px; /* Round the corners of the handle */
}

/* Track (the area where the handle moves) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
  border-radius: 5px; /* Round the corners of the track */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #141414; /* Color of the handle on hover */
}
